@import url('./transition.css');
@import url('./unocss.css');

.emoji-sm {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  cursor: default;
}

#previewImg > img,
.preview-img img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
